body {
    background-color: rgb(31, 31, 31);
}
h1 {
    font-family: Arial;
    color: white;
    margin: 5px;
    padding: 5px;
}
.module {
    background-color: midnightblue;
    border: 2px solid white;
    margin: 5px;
}
.field {
    padding: 5px;
    margin: 5px;
}
.user_info {
    background-color: midnightblue;
    border: 2px solid white;
    margin: 5px;
    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
}
.user {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bottombox {
    background-color: midnightblue;
    position: absolute; left: 5px; right: 5px;
    margin: 5px;
    border: 2px solid white;
}